[2019-05-06 09:47] ktk opened #1 "Issues in namespace list"
Issues in current namespace list:

* `duv`: NS should be `http://www.w3.org/ns/duv#` according to ontology but different in RDFa initial context, I guess it simply points to the HTML spec
* `dc` & `dcterms` point to the same URI. We should settle on one
* `dbpedia` points to resource and ontology, should be resource IMO

[2019-05-06 10:01] ktk commented on #1
* in the dbpedia SPARQL endpoint they define `dbr` for `http://dbpedia.org/resource/`, we should use that instead

[2019-05-06 10:04] ktk commented on #1
* I like `dc` better for terms but in the wild it seems to be more `dcterms` so let's go for that one

[2019-05-06 10:08] ktk commented on #1
* we should use `dbp` for `http://dbpedia.org/property/` to align with dbpedia prefixes

[2019-05-06 11:12] ktk commented on #1
DUV in RDFa initial context was an error, Ivan Herman fixed it meanwhile.

[2019-05-06 12:05] #1 closed

[2019-05-11 15:19] ktk opened #5 "Add override for XSD namespace"
The one big namespace missing is XSD, which seems surprisingly hard to get. I asked around on Twitter [here](https://twitter.com/linkedktk/status/1126824765094813697) and after an interesting thread @gkellogg [pointed](https://twitter.com/Gkellogg/status/1127211994640109568) to some work he did [here](https://github.com/ruby-rdf/rdf/blob/develop/etc/xsd.ttl).

This should be added to `overrides.js

[2019-05-13 13:42] #5 closed

[2019-05-27 09:13] tpluscode opened #7 "Using the package in browser environment"
I would like to be able to use this package's functionality in the browser. Currently the biggest obstacle is using node.js filesystem APIs (`fs` and `path`).

I propose to split the ontology code from the loading code so that it can be substituted with different code for the browser. I have two ideas:

1. Simpler, to use `fetch`. The problem here is that the files have to be fetched from somewher

[2019-06-06 10:01] ktk opened #9 "Add SDMX namespace"
http://purl.org/linked-data/sdmx#

[2019-06-08 15:34] ktk opened #10 "Add RDA elements namespacer"
More info & namespace: http://www.rdaregistry.info/Elements/u/#

[2019-06-08 15:35] ktk opened #11 "Add FRBR Ontology"
More information: http://www.sparontologies.net/ontologies/frbr

[2019-06-14 08:05] ktk opened #13 "Evaluate integrating QUDT"
Evaluate what it means to integrate the various QUDT schemas and ontologies.

* http://www.linkedmodel.org/catalog/qudt/1.1/index.html
* http://www.qudt.org/release2/qudt-catalog.html

Questions:

* are there clashes between the two versions?
* why are they split among files even though there seems to be only one namespace used?
* what namespaces & files should be sourced?

[2019-06-17 12:28] #7 closed

[2019-06-17 12:28] #9 closed

[2019-06-17 12:28] #10 closed

[2019-06-17 12:28] #11 closed

[2019-06-17 12:34] vhf commented on #11
Published in `v2019.6.17`.

[2019-06-17 12:34] vhf commented on #10
Published in `v2019.6.17`.

[2019-06-17 12:34] vhf commented on #9
Published in `v2019.6.17`.

[2019-06-17 12:34] vhf commented on #7
Cf. #8

Published in `v2019.6.17`.

[2019-06-25 16:01] steveraysteveray commented on #13
Hi, Steve here. I'm currently working on QUDT, and am happy to discuss.

are there clashes between the two versions?
There shouldn't be. However, we are currently in the process of upgrading how we handle dimension vectors. We will keep the existing data in place, but will be transitioning to a numerator vector and a denominator vector, rather than just a single vector. This is so that we can prop

[2019-06-25 19:05] ktk commented on #13
Hi Steve, great to talk to you.

Let me explain a bit what we work on and why we are interested in QUDT:

This repository `rdf-vocabularies` is mainly sourcing existing RDF vocabularies. It also provides some integration into JavaScript/node.js as we work in this stack for large parts. But we also use the sourced vocabularies in other code, for example Java. The purpose is to make it simpler to pr

[2019-06-25 20:48] steveraysteveray commented on #13
Adrian,
Everything that is in Release 1.1 is also in Release 2, so no need to integrate 1.1.
The prefix.zazuko.com service is interesting. For that, you might be able to get away with just the unit vocabularies to start. We're currently working on preparing the quantity kind vocabularies (think "Pressure", "Torque", "MassFlowRate", etc.) that are associated with the units - we're scrubbing them to

[2019-06-26 07:26] ktk commented on #13
Great thanks Steve, I will keep this issue up to date with my progress.

I will have a look at Semantic Web for the Working Ontologist, bought this long time ago. I did not know they have some samples, thanks for the hint!

[2019-06-26 10:22] ktk commented on #13
Would you mind checking out [this commit](https://github.com/zazuko/rdf-vocabularies/pull/15/commits/6f02de34c4ec667fdabe30f39b2b2b413ba36226#diff-93b6c7d6cd0de3e0141473c414fadded) @steveraysteveray. That's the proposal for the files sourced for the moment.

[2019-06-27 11:24] vhf commented on #13
Published https://www.npmjs.com/package/@zazuko/rdf-vocabularies/v/2019.6.27

[2019-06-27 13:17] ktk commented on #13
I think we have to refactor this one again. I find the following prefixes mentioned in these Turtle files:

[code]
(I deleted the ones that are not a problem)

`qudt` seems fine, `qudtv` is probably wrongly assigned. First I thought this is all `unit` but then again the URIs in the files point to `http://qudt.org/2.0/vocab/unit/` which has `2.0` in it unlike the one specified in the prefixes.

I g

[2019-06-27 16:59] steveraysteveray commented on #13
Let me look into these. Right away, I agree that the qudtv prefix is wrong, and we don't use it. I will remove it from the one file (VOCAB_QUDT-UNITS-MATHEMATICS-v2.0.ttl) where it occurs.

I'm currently working on automating the generation of non-versioned URIs that will resolve to the latest published version. Unit vocabularies should be complete today.

For the others, I'll need to go back and

[2019-06-28 12:48] ktk opened #17 "SIOC"
It looks like SIOC is skipped but I find it in ontologies?

[2019-06-28 13:00] ktk commented on #13
@steveraysteveray ok thanks let me know when the new URIs are generated so I would change `qudtv` to `unit` in the unversioned prefix.

[2019-06-28 13:36] ktk opened #18 "Add ical"
Via @iherman I got links to the following RDF resources, taken from his mail:

- [x] `as`: https://www.w3.org/ns/activitystreams-owl.ttl
- [x] `ical`: http://www.w3.org/2002/12/cal/icaltzd.rdf  (it downloads the RDF/XML file in most browsers instead of displaying it)
- [x] `xhv`: http://tinyurl.com/yy4pbocc (the vocabulary is in the HTML file in RDFa, and this URL runs the RDFa distiller to return

[2019-06-28 13:46] ktk opened #19 "MIA prefixes"
Those prefixes & namespaces are defined in RDFa initial context but are missing in action, or at least an RDF version of them is. Please comment if you find any of them.

- [ ] ctag:
- [ ] gml:
- [ ] rev:
- [x] rif:
- [ ] sf:
- [x] v:
- [ ] xml:

[2019-06-28 13:46] ktk commented on #19
Is `gml` this one? https://bioportal.bioontology.org/ontologies/GML

[2019-06-28 13:49] ktk commented on #19
`rev` is probably http://vocab.org/review/terms.html, which does not seem to return any RDF (303 points to something non-RDF it seems)

[2019-06-28 14:29] ktk commented on #19
When googling a bit for `v` I end up here: https://www.data-vocabulary.org/

[2019-06-28 14:30] ktk commented on #19
for `rif` Kingsley mentions it might only exist as HTML: https://twitter.com/kidehen/status/1144611599489142785

[2019-06-28 15:11] ktk opened #20 "Add XKOS"
Turtle: https://github.com/linked-statistics/xkos/blob/master/xkos.ttl

[2019-06-28 20:47] steveraysteveray commented on #13
Here's an update:
qudtv has been removed as a prefix. Originally we were going to use that for all our vocabularies, but have since decided to break it down into unit:, quantitykind:, dimension, etc.

Of course, simply defining a prefix should be harmless. The qudtv and the dimension prefixes were both defined, but never used. dimension was defined for our future use, when we publish the dimension

[2019-06-28 20:50] ktk commented on #13
Excellent Steve, thanks! I will update everything and see if I have/understand everything now. Thanks for `voag` override, that is supported in our fetch method. It's not the only vocabulary out there that does not resolve properly ;)

[2019-06-29 08:00] ktk commented on #19
`rif` confirmed Sandro by https://twitter.com/sandhawke/status/1144818146949455874

[2019-06-29 08:05] ktk commented on #19
For `v`Dan comments: https://twitter.com/danbri/status/1144638189329473537

[2019-07-01 09:37] vhf commented on #18
`as` and `xhv`: all good!

`ical` makes https://github.com/rdfjs/rdfxml-streaming-parser.js crash with:

[2019-07-02 07:49] vhf commented on #20
6c48f1aca260a89e48654c1677403547147a1101

[2019-07-02 07:49] #20 closed

[2019-07-02 08:08] iherman commented on #18
@vhf I cannot comment on the streaming parser code. If I do

[code]

it works and returns an RDF/XML code.

[2019-07-02 08:28] vhf commented on #18
@iherman Thanks, yes this serves `Content-Location: icaltzd.rdf` (`curl -I http://www.w3.org/2002/12/cal/icaltzd#standard`).

The issue is that this file cannot be parsed, it is probably not valid according to the schema. Here is the file, there might be other problems than these two but here's what the parser first notices:
https://gist.github.com/vhf/23705814109f8c18cfb100c053f3dc6b#file-icaltzd

[2019-07-02 09:01] ktk commented on #18
I tried with `rapper` and `riot` as well, both with proper RDF/XML support. Neither of it is parsing the file. I will see if we can manually fix it, in that form it indeed does not seem to be valid.

[2019-07-02 09:06] iherman commented on #18
Hm. I agree it is ugly. But I am not sure it is a bug. `rdf:ID` does not have to be unique in the sense like, for example `xml:id` must be: it is only an abbreviation of a URL. I.e., I wonder whether it is not the parser that is over-eager.

[2019-07-02 09:09] ktk commented on #18
Hmm indeed, in `riot` it's just warnings, not errors. I will report this to the RDF/XML parser.

[2019-07-02 09:26] tpluscode commented on #18
One would need to check with the spec. But, FWIW, it also fails on rdf-translator.appspot.com (Ruby RDFlib) as well as dotNetRDF :)

[2019-07-02 10:16] iherman commented on #18
Per [RDF/XML spec](https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-ID-xml-base):

I.e., just as it is possible to repeat the value of `rdf:about` (it is "just" a URI) it is also possible to repeat `rdf:ID`.

In other words, and in spite of its name, `rdf:ID` is _not_ the same as `xml:id` (or the `id` attribute in HTML) which assigns a unique ID to an element in the XML/HTML tree.

[2019-07-02 11:26] ktk opened #23 "Add http"
Spec:

https://www.w3.org/TR/HTTP-in-RDF10/

content-neg seems to work

[2019-07-03 07:29] VladimirAlexiev commented on #13
@ktk We use QUDT extensively in the BigDataGrapes EU project. See https://rawgit.com/BigDataGrapes-EU/ontology/master/QUDT-notes/README.html for some explanations and diagrams.

Even though QUDT2 has some incomplete areas, it subsumes QUDT1.1 so there's no need to present QUDT1.1.
The two are not compatible, see https://rawgit.com/BigDataGrapes-EU/ontology/master/QUDT-notes/README.html#Incompatibi

[2019-07-03 07:31] VladimirAlexiev opened #24 "submit QUDT to LOV"
QUDT is missing from LOV: https://lov.linkeddata.es/dataset/lov/terms?q=qudt. If as part of #13 you dig through the structure of QUDT, it would be great if you submit it properly to LOV.

[2019-07-03 09:24] ktk commented on #13
@steveraysteveray I'm still confused by `unit`, see Victors pull request [here](https://github.com/zazuko/rdf-vocabularies/pull/25).

I'm confused by the correct namespace to use:
* [prefix.cc](http://prefix.cc/unit) says `http://qudt.org/vocab/unit#`
* [V1.1 Turtle](http://qudt.org/1.1/vocab/OVG_quantities-qudt-(v1.1).ttl) says `@prefix unit:    <http://qudt.org/vocab/unit#> .`
* However, the [we

[2019-07-03 09:48] ktk commented on #24
It looks like the submit form is [this one](https://lov.linkeddata.es/dataset/lov/suggest) and the only thing one can add is a namespace IRI so my guess is they noticed, as we did, that sourcing is not that easy. Best would be if they source our file but no idea who does that work to point them to it.

[2019-07-03 10:27] rubensworks commented on #18
This is also mentioned in the [spec](https://www.w3.org/TR/rdf-syntax-grammar/#section-Syntax-ID-xml-base):

If I understand this part correctly, then the parsers that error on this document behave correctly.

In any case, I don't see a good reason to force a crash on this, which is why I'll add [a config option to the streaming parser to disable this strict behaviour](https://github.com/rdfjs/rdf

[2019-07-03 11:12] iherman commented on #18
To be honest, I am not sure I fully understand that sentence... And it is in contradiction with what precedes, which says that `rdf:ID` is some sort of an abbreviation of `rdf:about`. Clearly, `rdf:about` can appear in the same RDF document many times...

I think it is certainly a good idea not to consider this as a full error and issue a warning instead.

(I wonder whether it is not a good idea t

[2019-07-03 13:08] danbri commented on #18
It is certainly confusing and to some extent misleading, but I wouldn't say they directly contradict each other.

If you get past "rdf:ID provides an additional check since the same name can only appear once in the scope of an xml:base value (or document, if none is given), so is useful for defining a set of distinct, related terms relative to the same IRI." ... then yes, it "can be used instead o

[2019-07-03 15:25] VladimirAlexiev commented on #13
http://qudt.org/vocab/unit/ should be correct, because it doesn't have a version, and because trailing slash (not hash) is recommended for large collections of resources.

[2019-07-03 15:34] VladimirAlexiev commented on #24
That's @pyvandenbussche, @mariapoveda and ghislain.atemezing AT gmail (can't find his handle)

[2019-07-03 18:13] ktk commented on #13
@VladimirAlexiev I agree with slash vs hash but I doubt that's what was used so far.

[2019-07-04 20:39] ktk opened #26 "Add rdfa"
http://www.w3.org/ns/rdfa#

And while we are at it, `vann`: http://vocab.org/vann/

[2019-07-04 20:45] ktk opened #27 "Add prefix & namespace metadata to each file"
Good idea via @semanticfire, we should add two more quads to each vocabulary dump to describe the prefix & namespace we use for it.

Bart proposed using [vann](http://vocab.org/vann/) but I can't seem to fetch an RDF version of it anymore, the links are dead.

Ivan is using the RDFa vocabulary for this, see for example [here](https://github.com/uduvudu/uv-context/blob/master/rdf/uduvudu-context.tt

[2019-07-05 02:46] steveraysteveray commented on #13
I’m traveling for 2 weeks, so may not be able to get to this right away. Apologies.

[2019-07-05 07:35] ktk commented on #13
No worries, have a good trip!

[2019-07-05 08:40] ktk commented on #18
@vhf there is now an option in the RDF/XML parser, see linked issue from Ruben

[2019-07-08 07:17] #17 closed

[2019-07-08 07:22] vhf commented on #18
Great, it worked nicely, thanks @rubensworks !

[2019-07-08 07:26] vhf commented on #27
I think this would be a "big" change to what this package provides. The triples from the ontologies are currently provided as-is, nothing gets added or removed or modified.

What about providing a separate file with all the metadata as RDF instead? It could provide the base IRI, prefix, and filename.

[2019-07-08 09:17] #18 closed

[2019-07-08 09:17] ktk commented on #26
I could not find vann in RDF so far.

[2019-07-08 09:20] ktk commented on #27
That would be perfectly fine for me. Sole question is what URI would we use as subject for this. In RDFa initial context it's a blank node, maybe that's the best bet. But then we should probably also add a class as in the example, they use `rdfa:PrefixMapping`

[2019-07-08 09:22] ktk commented on #19
I don't think we get much further here, these vocabularies are either dead or never existed as RDF in the first place. The GML file referenced above has super strange namespaces defined in the ontology file so I don't feel like sourcing that either.

I'm closing it.

[2019-07-08 09:22] #19 closed

[2019-07-08 09:25] vhf commented on #26
Perhaps @iand could point us to the right place? :)

[2019-07-08 09:29] vhf commented on #27
Alright so something like:
[code]

and one more thing for the local filename I guess

[2019-07-08 09:33] ktk commented on #27
Looks good! For file the only ontology I know is infamous Nepomuk File Ontology, which was once part of KDE: http://oscaf.sourceforge.net/nfo.html#nfo:fileName.

Could not find something else with a quick search for file*

[2019-07-08 10:19] iand commented on #26
The latest is at http://vocab.org/vann/vann-vocab-20100607.rdf

[2019-07-08 15:22] vhf commented on #26
Unfortunately [`rdfxml-streaming-parser`](https://github.com/rdfjs/rdfxml-streaming-parser.js) cannot parse http://vocab.org/vann/vann-vocab-20100607.rdf because of this part:

[code]
which throws
[code]

<details><summary>(see test script)</summary>

[code]
</details>

[2019-07-08 15:30] ktk commented on #26
Ping @rubensworks, any ideas?

[2019-07-08 15:32] rubensworks commented on #26
@vhf Can you try passing this to the constructor: `{ baseIRI: 'http://vocab.org/vann/vann-vocab-20100607.rdf ' }` ?

[2019-07-08 15:37] vhf commented on #26
Sure, with the same test script as above and your suggestion I get a similar error:

[code]

[2019-07-08 15:40] vhf commented on #26
Sorry @rubensworks , I got it wrong and your suggestion does indeed solve the issue! 👍

(You cannot see it above but it says that `http://vocab.org/vann/vann-vocab-20100607.rdf ` is not a valid URI (notice the space at the end of the string 🤦‍♂ )).

[2019-07-08 15:44] rubensworks commented on #26
Ah ok, I was just about to say that it would probably be a forbidden character somewhere messing things up.
But good, it's working now :-)

[2019-07-08 19:33] ktk opened #33 "Add geonames"
Used in Swisstopo dataset:

`@prefix gn: <http://www.geonames.org/ontology#> .`

RDF Ontology: http://www.geonames.org/ontology/ontology_v3.1.rdf

[2019-07-09 08:04] #23 closed

[2019-07-09 08:07] #26 closed

[2019-07-09 09:25] ktk opened #34 "Add Simple Event Model"
Spec: https://semanticweb.cs.vu.nl/2009/11/sem/
Prefix: sem
Namespace: http://semanticweb.cs.vu.nl/2009/11/sem/

[2019-07-10 09:50] mariapoveda commented on #24
@ktk Could you tell me which IRI did you suggested? I can't find qudt in the suggestions list

[2019-07-14 18:48] ktk commented on #33
I somehow missed that, already in it.

[2019-07-14 18:48] #33 closed

[2019-07-17 20:53] ktk opened #36 "Add SHACL"
Somehow we completely missed SHACL

https://www.w3.org/TR/shacl/

[2019-07-22 08:31] vhf commented on #36
Is that it: https://github.com/w3c/data-shapes/blob/gh-pages/shacl/shacl.ttl?

Which prefix should it be, `sh`?

[2019-07-22 08:34] vhf commented on #27
What about [`dbo:filename`](http://dbpedia.org/ontology/filename)?

More questions on this example:
[code]

* What's the difference between the content we would put in `rdfs:isDefinedBy` and `rdfa:uri`?
* Where can I find what to put in `dcterms:description`?

My idea is to add these to https://github.com/zazuko/rdf-vocabularies/blob/master/overrides.js or to a file similar to this one, to then be

[2019-07-22 09:52] ktk commented on #36
Yes, prefix is `sh`. For the file I see this in raw, not sure what URI makes more sense: https://raw.githubusercontent.com/w3c/data-shapes/gh-pages/shacl/shacl.ttl

[2019-07-22 09:54] ktk commented on #36
I've created an issue and asked why I can't get that directly https://github.com/w3c/data-shapes/issues/118

[2019-07-22 18:43] TallTed commented on #36
Have you tried getting [Turtle serialization of the SHACL vocabulary](http://www.w3.org/ns/shacl.ttl), as linked from [the SHACL spec](https://www.w3.org/TR/shacl/#constraints-section)?

[2019-07-22 18:56] ktk commented on #36
@TallTed ah thanks for the hint, I did search for "ttl" in the file but not for Turtle :-D

[2019-07-22 19:21] ktk commented on #36
@vhf I checked again, looks like I did not reference the proper URI before. It works fine with `http://www.w3.org/ns/shacl#` for me, I get Turtle back. So adding the prefix & namespace should be enough, no need to override the file.

[2019-08-07 08:43] ktk commented on #13
@steveraysteveray any chance for an update? :)

[2019-08-07 19:36] steveraysteveray commented on #13
We have been busy refactoring our units, quantitykinds and dimension vectors, and will be publishing the results as release 2.1. You can get a sneak peak at http://www.qudt.org/2.1/catalog/qudt-catalog.html, but be aware that some of the new filenames and prefixes are still in flux for just a bit longer. What you will see is that all the units are now in a single graph. Same for all the quantity k

[2019-08-08 06:07] mobilemadman2 opened #38 "New Ontology request - GS1"
Hi there.

hey I'm building a very comprehensive seo plugin for wordpress. And I absolutely love this git. So with that said. Ive' been researching new ontologies and specifically GS1 since they've been recognized by schema and W3. But they are not registered on http://dbpedia.org/sparql?nsdecl. But heres what I got for your reference.

https://www.gs1.org/standards/gs1-source/guideline/gs1-source

[2019-08-21 08:39] ktk commented on #38
@philarcher could you comment on this one, I'm trying to find RDF based vocabs in these links but no luck so far.

[2019-08-21 09:16] ktk commented on #38
Ok meanwhile I found https://www.gs1.org/voc/?show=classes

Is there a dump available somewhere containing all classes & properties?

[2019-08-21 09:36] philarcher commented on #38
Hi all,

Yes, that's one way to get all the classes, Adrian, but if you view source on any of the individual terms you'll see the whole JSON-LD file (so, for example, view source on https://www.gs1.org/voc/AdditionalProductClassificationDetails).

That's the short term fix.

The better news is that there is a project within GS1 to make a full transition from our existing working method to one that

[2019-08-21 09:44] ktk commented on #38
@philarcher ok tnx we can work with this for the moment. FYI we will be open sourcing the Schema/Ontology Manager we created for IATA, see https://tcfplayground.org/. It's meant for orgs & non-domain specialists that want to work on a common schema.

[2019-08-21 10:21] philarcher commented on #38
Interesting, thanks Adrian. A lot of the ontologies in your tool relate directly to areas where GS1 has a stake in the ground. We have a total of 480 application identifiers, that is, properties, that are designated by numbers including things that map to your https://tcfplayground.org/Dimensions like https://www.gs1.org/standards/barcodes/application-identifiers/3310.

[2019-08-22 15:42] tpluscode opened #40 "Add SemWeb Vocab Status ontology"
Dereferencable here: http://www.w3.org/2003/06/sw-vocab-status/ns#

Is it any popular? Hydra uses it to annotate its terms.

additionally, I'm thinking that the prefix server could actually take advantage of this and/or similar annotations to highlight deprecated terms

[2019-09-19 05:13] mobilemadman2 commented on #38
OMG Guys Thanks so much.  Family is going through a tough time.  My wife is dying it's been a nightmare.  I haven't had a chance to go through this in some time.  You guys rock.  Hey, anyone here up for helping me build the Mack daddy of SEO plugins for WordPress.  if interested I've got a lot built and also a basic plugin working but its way too much for the average wp or even the mid-level SEO a

[2019-09-19 16:59] ktk commented on #38
Sorry to hear that, all the best for you and your family Drake.

I'm afraid we can't help much on the plugin. We don't know a thing about WordPress, our focus is on the RDF technology stack & things like JSON-LD. I will keep an eye on what Phil is doing so we can integrate GS1 as soon as I can fetch it properly from somewhere.

[2019-10-18 09:48] tpluscode opened #42 "Add location core vocab"
I just saw this on Bart's demo: https://www.w3.org/ns/locn

I see that we don't have this one

[2019-10-22 14:26] #34 closed

[2019-10-22 14:58] #36 closed

[2019-12-01 07:59] ktk commented on #13
@steveraysteveray been a while, what is the status? Is this stable meanwhile? I would really like to integrate that in our lookup service.

[2019-12-01 08:12] ktk commented on #27
* [dcterms:description](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#terms-description)
* `rdfs:isDefinedBy` vs. `rdfa:uri`: From what I read they aim at the same thing IMO. I would prefer `rdfs:` as I rarely see the `rdfa` one in the wild.
* `dbo:filename` sounds close enough!

[2019-12-02 14:46] vhf commented on #27
Thoughts on: https://github.com/zazuko/rdf-vocabularies/blob/b939bd4b5d50d08f1994ab75e885159af99eacf0/ontologies/_index.nq ?

[2019-12-02 17:03] steveraysteveray commented on #13
@ktk, Release 2.1 is stable. We have several new features in development, which will be compatible additions. In the case of any incompatible upgrade, we will keep 2.1 available and release a new version number. Please see qudt.org for the latest.

[2019-12-03 02:42] ktk opened #49 "W3C Block"
Apparently we get blocked fast by w3c.org while fetching the data. @vhf how fast/when does it happen? Maybe @iherman can help us out here.

Ivan, we fetch RDF vocabularies in an automated way every few months and add the latest RDF versions of it in this repository. That seems to be enough to get the IP blocked by W3C for a while.

[2019-12-03 08:12] vhf commented on #49
I cannot trigger it today. Last few times my IP got banned from w3.org for ~1-2h after requesting ~5 files in ~3 minutes.

[2019-12-03 13:49] iherman commented on #49
@ktk, can you send me your email address (I am at ivan@w3.org) to get you in contacts with our system people? It is fairly difficult to say anything without any further details, and I am not sure it is appropriate to get into such details on a public issue.

[2019-12-03 16:22] ktk commented on #49
@iherman ygm

[2019-12-16 10:33] vhf commented on #27
Ping @ktk @semanticfire

[2019-12-16 13:33] ktk commented on #27
From triple POV looks good to me!

[2019-12-23 14:08] #27 closed

[2019-12-23 14:08] vhf commented on #27
`v2019.12.23`

[2020-02-04 12:40] vhf opened #52 "Rename dc11 to dc?"
Do we want to rename [`dc11`](https://github.com/zazuko/rdf-vocabularies/blob/12248415644a9b0d68a85e537cf36f2c799e7c4d/src/lib/prefixes.ts#L8) to `dc`?

[2020-02-10 11:06] ktk commented on #52
So the whole history with Dublin Core is a bit complicated, from the [Wikipedia page](https://en.wikipedia.org/wiki/Dublin_Core):

I've always read that as we should prefer the [DCMI Metadata Terms](https://prefix.zazuko.com/prefix/dcterms:) while using RDF, as they were designed with RDF in mind. The 15 "old" elements should only be used if there is no better alternative available.

Unfortunately

[2020-02-10 12:47] #52 closed

[2020-02-25 14:55] tpluscode opened #54 "DBpedia prefixes"
I thought we might add prefixes for the non-vocabulary DBpedia namespaces:

[code]

Not too sure about the YAGO stuff though...

[2020-03-05 11:36] thewilkybarkid opened #55 "Extract prefix list into its own library"
`@zazuko/rdf-vocabularies` is quite large (nearly 20MB). https://github.com/tpluscode/rdf-ns-builders/commit/3019d712728641b7136a16726a8afa276e6a4868 was committed to avoid forcing this as a runtime dependency, but there are still cases where it would be useful to have a simple library containing just [prefixes.js](https://github.com/zazuko/rdf-vocabularies/blob/master/src/lib/prefixes.ts) to avoi

[2020-03-06 09:19] ktk commented on #55
Good point, I think it makes sense to reflect what we were trying to do and what we might want to do in the future and then decide what should be done next.

My initial goal in another repo was to have predefined prefixes that I could use anywhere, a bit like a pre-configured [namespaces](https://github.com/rdfjs-base/namespace) that would be used within the code but also when I for example serial

[2020-03-06 09:40] tpluscode commented on #55
Cue [@tpluscode/rdf-ns-builders](https://github.com/tpluscode/rdf-ns-builders) which @thewilkybarkid mentions above.

You gave me an idea to maybe also generate exports of only property name and only class names, etc.

I believe that rdf-vocabularies provides this feature nicely?

this might be useful in browser environment if it can make do without importing the large-ish RDF/JS dependencies

[2020-03-09 08:24] vhf commented on #55
I like this idea, it looks clean and simple.

[2020-03-09 09:14] ktk commented on #55
@tpluscode yes it does, I just want to list all possible use-cases I could think of

[2020-03-09 21:20] tpluscode commented on #55
I just got this idea to extract the code used to generate this package contents (index, etc.) as well as the generator of `@tpluscode/rdf-ns-builders`

This would allow others to create their own similar packages for other ontologies which we might not want to incorporate in this list for some reason.

[2020-07-16 14:29] ktk opened #65 "schema.org download location"
According to https://github.com/schemaorg/schemaorg/issues/2304#issuecomment-659448648 the download location here:

https://github.com/zazuko/rdf-vocabularies/blob/d026ae41ee0a87b981c4b0f61615012b16d6ce41/overrides.ts#L108

Might change. We need to keep an eye on that issue.

[2020-07-23 09:41] vhf commented on #65
#67

[2020-07-23 09:41] #65 closed

[2020-08-03 12:33] vhf commented on #49
Closing this for now, the rules seem to have been relaxed quite a bit, at least I'm not getting banned anymore.

[2020-08-03 12:33] #49 closed

[2020-08-17 08:45] martinmaillard opened #69 "Overlapping prefixes"
Overlapping prefixes are not handled as expected (original issue https://github.com/zazuko/endpoint-explorer/issues/20).

The following test doesn't pass:
[code]

Note that it works if the prefixes are added in reverse order:
[code]

[2020-08-17 14:11] vhf commented on #69
Fixed in `v2020.8.17`

[2020-08-17 14:11] #69 closed

[2020-10-13 15:51] ktk opened #71 "Add Bibliographic Ontology (BIBO)"
https://www.dublincore.org/specifications/bibo/bibo/

[2020-11-18 08:34] tpluscode opened #76 "Using expand requires raw-loader"
When the `@zazuko/rdf-vocabularies/expand` module is imported in a web project, webpack will try to create chunks for all the vocabularies because the `expandWithCheck` is dynamically loaded and it pull the n-quad sources.

With `raw-loader` added the bundle sizes explode.

Probably the only way would be to separate the `expand` and `expandWithCheck` modules. What do you think @vhf?

[2020-11-23 07:53] vhf commented on #76
Let's do this if that's the only way. I don't know much about webpack and I trust your judgment.

[2020-12-14 20:37] alexkreidler opened #81 "Bug: buildPath returning incorrect path"
![ontology_debug](https://user-images.githubusercontent.com/11166947/102132740-047c5780-3e22-11eb-85b4-5bdbfdf7b34b.png)

buildPath is returning `node_modules/@zazuko/ontologies` instead of the correct `node_modules/@zazuko/rdf-vocabularies/ontologies`.

Additionally, the `vocabularies()` function should properly throw an error if it reads files in the wrong location.

Thanks for this tool!

[2020-12-14 20:43] alexkreidler commented on #81
I patched the code by replacing
[code]
![patch](https://user-images.githubusercontent.com/11166947/102133159-abf98a00-3e22-11eb-87ff-70280cbbe2be.png)

See that dataset returns proper data, whereas before it returned an empty object.
![after_patch](https://user-images.githubusercontent.com/11166947/102133160-abf98a00-3e22-11eb-9551-b95950bbc41b.png)

I don't know if this is new bug in a new releas

[2020-12-15 07:17] tpluscode commented on #81
Thank you @alexkreidler, I noticed that too. TL;DR; the paths are different in dev (`./src`) than in the built package. You'll see that I started #80 but it's not done yet.

For the time being you might instead import from `@zazuko/rdf-vocabularies/datasets` or `@zazuko/rdf-vocabularies/datasets/prefix`

[2020-12-15 12:21] #76 closed

[2020-12-16 10:29] #81 closed

[2021-03-05 16:40] ktk commented on #13
@vhf could you integrate the following URIs with according prefixes: https://gitlab.ldbar.ch/pipelines/lindas-metadata/-/blob/master/config.sh#L7-14

That's the ones we source for the cube-curator for BAFU.

[2021-03-05 16:42] ktk commented on #24
@mariapoveda will finally be done now, see #13. The list we plan to source:

* http://qudt.org/schema/qudt/
* http://qudt.org/schema/datatype.ttl
* http://qudt.org/vocab/constant/
* http://qudt.org/vocab/discipline/
* http://qudt.org/vocab/prefix/
* http://qudt.org/vocab/dimensionvector/
* http://qudt.org/vocab/quantitykind/
* http://qudt.org/vocab/sou/

[2021-03-05 16:44] ktk commented on #38
@philarcher is there any update on a version that we can source somehow meanwhile?

[2021-03-05 17:09] philarcher commented on #38
Hi @ktk

All the above remains true (and I admit, after all this time, it had quite slipped my mind). The good news is that the work I alluded to has moved up the priority list in recent months - we really *are* working on it in terms of engineering. In general, the visibility of the Web Voc has increased across the organization and we have a significant project to 'semantify' a lot of what we do,

[2021-03-08 08:21] mariapoveda commented on #24
Great. Do you plan to suggest all the URIs? Remember each ontology should include the metadata listed at https://lov.linkeddata.es/Recommendations_Vocabulary_Design.pdf

[2021-03-08 10:42] #13 closed

[2021-03-08 18:02] steveraysteveray commented on #24
Hi all,
I had previously already submitted the QUDT schema to LOV, [here](https://lov.linkeddata.es/dataset/lov/vocabs/qudt). I was a little surprised in the recommendations mentioned by @mariapoveda above that states "Few instances except for examples". Unlike the recommendation, we distinguish the ontology (the QUDT schema graph) from the vocabularies (the units, quantitykinds, etc.). That's why

[2021-06-06 09:00] tpluscode opened #97 "Extract the code used to generate this package contents (index, etc.)"
I just got this idea to extract the code used to generate this package contents (index, etc.) as well as the generator of `@tpluscode/rdf-ns-builders`

This would allow others to create their own similar packages for other ontologies which we might not want to incorporate in this list for some reason.

_Originally posted by @tpluscode in https://github.com/zazuko/rdf-vocabularies/issues/55#issueco

[2021-06-06 09:06] tpluscode commented on #97
Maybe a template repo would be good enough? ™️

[2021-06-23 08:48] sandhose opened #100 "New ontology: EXIF"
See https://www.w3.org/2003/12/exif/

Schema (RDF/XML) is here: http://www.w3.org/2003/12/exif/ns

[2021-09-14 08:58] ktk opened #102 "New ontology: EBUCore"
There is a link to the RDF/OWL here https://tech.ebu.ch/MetadataEbuCore

[2021-09-15 10:01] #102 closed

[2021-09-17 10:12] ktk opened #104 "ebucore prefix is wrong"
This:

https://github.com/zazuko/rdf-vocabularies/blob/d42929dbc881781fbf992bd6cea398e4ccf122d4/src/prefixes.ts#L21

Should be

`http://www.ebu.ch/metadata/ontologies/ebucore/ebucore#`

[2021-09-17 10:41] ktk commented on #71
Implemented in https://github.com/zazuko/rdf-vocabularies/commit/3806c958a1d0176fe6fec60ae4750ff41e8ebb0c

[2021-09-17 10:49] ktk commented on #40
Looks like this was added long time ago with prefix `vs`. Closing

[2021-09-17 10:49] #40 closed

[2021-09-17 11:55] ktk opened #108 "New ontology: dcmitype"
https://dublincore.org/specifications/dublin-core/dcmi-terms/

[2021-09-17 12:39] ktk commented on #24
Did what I could ;) closing here.

[2021-09-17 12:39] #24 closed

[2021-09-17 12:44] #104 closed

[2021-09-19 18:25] ktk commented on #108
Implemented in https://github.com/zazuko/rdf-vocabularies/commit/a658de13e828234124f30ac8b17e25d4fc8b0edb

[2021-09-19 18:25] #108 closed

[2021-09-19 18:25] #71 closed

[2021-09-19 18:26] #42 closed

[2021-09-19 18:26] #38 closed

[2021-09-19 18:37] #100 closed

[2021-09-20 06:57] tpluscode commented on #55
@thewilkybarkid coming back to this, is the problem the total size of this package? Granted, it is bound to grow until we break it up into smaller pieces (if ever) but at runtime your application would not be affected thanks to tree shaking and dynamic imports.

You can `import { prefixes } from '@zazuko/rdf-vocabularies` or even `import prefixes from '@zazuko/rdf-vocabularies/prefixes'` and you w

[2021-09-20 09:15] ktk commented on #54
Just as namespace without the ontology I guess? If so we should probably add all the wikidata namespaces as well (and skip the import in the override)

[2021-09-23 08:59] thewilkybarkid commented on #55
Yeah, it was about NPM usage rather than runtime. This is made worse when using Docker, though BuildKit helps locally as you can now mount in a cache during the build (but not in CI).

[2021-09-23 09:01] tpluscode commented on #55
Ok, here's another idea.

@ktk how about a `@zazuko/rdf-vocabularies-lite` package which would be exactly the same thing minus the actual datasets? We could have it deployed automatically to match version

[2021-09-23 13:40] ktk commented on #55
I think we should reflect how we use it right now and how we might use it in the future. Not a problem for me to split things but I would do it in a way that it stays like this for a while.

Right now is very JS centric but the content/ontologies are useful in many other contexts as well.

[2021-10-12 15:35] ktk opened #115 "Adjust GS1 source"
See https://twitter.com/philarcher1/status/1446501549296001025

[2022-01-03 06:04] damooo opened #116 "Make ontologies available in standalone repository, to include with git sub modules"
Thanks for great work.

It would be great if `ontologies` folder itself is available as separate git repository. We can still include it as a folder for all practical purposes using git-sub-modules. This will enable to include same stack-agnostic ontologies in any repository with any language stack.

[2022-01-05 11:52] tpluscode commented on #116
Thank you @damooo. This is a good idea but not immediately possible since it would require a little more reorganisation of how we author this package

[2022-01-07 09:07] damooo opened #117 "Request for new vocabularies"
Namaste all.  It is a request for few vocabularies. These are mainly used for implementing solid specifications. These all vocabs have prefix.cc registered prefixes, and ther namespace base iri de-references to their ontology files

|prefix|title|description|uri|
|-------|-----|---------------|-----------------------|
|[cert](http://prefix.cc/cert)|The Cert Ontology 1.0|Ontology for Certificates|[

[2022-01-21 10:06] tpluscode commented on #117
Hello @damooo. We appreciate your interest in our package. Related to your earlier issue #116, we are still considering how to proceed with this package. It has been already noted in the past that size is a factor here and adding more and more prefixes will just keep it growing.

Also, there is the matter of having one or multiple such packages. I kind feel like we might be getting a little overbo

[2022-01-25 11:19] l00mi opened #118 "High-level Strategy for rdf-vocabularies"
# Requirements

- [x] Opinionated list of prefixes, and namespaces independently available.
- [x] Opinionated list of snapshotted ntriple dumps, and their definition how it was fetched on their (original) source.
- [x] Optional (added) metadata on the used meta-ontology and its used annotations (`rdfs:label` vs. `schema:name`). (RDFS/OWL etc.)

# JS Requirements

- [x] Opinionated map of prefixes,

[2022-02-25 04:56] ktk commented on #117
The current plan for refactoring is #118 and I think we should continue to add more ontologies once we did the split. It might be "over board" but at the same time it seems to be useful for others than just us so why not extend the repo with all ontologies to whatever people need.

[2022-06-27 06:15] tpluscode opened #125 "Wrong namespace for EARL"
The vocabulary should use `http` URLs but we have `https`

[2022-07-13 08:17] snickersnee22 opened #126 "New ontology: metadata4ing"
Hi zazuko team - is it possible to include the metadata4ing ontology in your prefix lookup service? You can find details on the ontology here:

http://metadata4ing.org

Serializations in different formats are also available via that link.

Thanks and kind regards, Marc

[2022-10-12 08:05] tpluscode commented on #55
We recently looked at some docker image of our apps. We managed to get it down to ~350 MB where 80 MB was the vocabularies package

I think it does justify the need to separate the actual datasets.